.container {
  background: #12173F;
  width: 100%;
  color: #B1D0ED;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;

    h1 {
        color: #B1D0ED
    }
}

.wrapper {
    padding: 0px !important;
}

