.slideContainer {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-left: 0;
      display: block;
    }
}

@media screen and (min-width: 1024px) {
  .slideContainer {
    width: 100%;
    img {
      width: 100%;
      max-width: none;
      margin-left: 0;
    }
}

.leftBlock, .rightBlock {
  width: 7% !important;
}

.carouselContainer {
  width: 100%;
}
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
  .carouselContainer {
    width: 100%;
  }
}

.leftBlock, .rightBlock {
  background-color: black;
  opacity: .85;
  display: flex;
  width: 10%;
  justify-content: center;
}

.leftArrow {
  color: white;
  height: 100px;
  width: 25px;
  align-self: center;
 
  left: 75px;
  z-index: 13;
}

.rightArrow {
  align-self: center;
  z-index: 13;
  width: 25px;
  height: 100px;
  align-self: center;
  z-index: 13;
  right: 75px;
  color: white;
}


.carouselContainer {
  display: flex;
  // flex-wrap: wrap; 
  justify-content: center;
  user-select: none;
  
}

.carouselWrapper {
  margin-top: 20px;
}

.carouselHeader {
  background: black;
  height: 50px;
  position: absolute;
  opacity: .85;
  margin-top: 235px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  h1 {
    color: #B1D0ED;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
  }

  a {
    text-decoration: none;
    color: #B1D0ED;
  }
}

@media screen and (min-width:1024px) {
  .carouselOuterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .carouselContainer, .slideContainer {
    width: 100%
  }
}
