       @import "../styles/mixins";

@media screen and (min-width: 1024px) {
    .descriptionContainer {
        margin: 0 auto;
    }

    .container,
    .container div:nth-child(1) {
        padding-left: 0px;
        padding-right: 0px;

    }

    .cardContainer {
        border-radius: none;
    }

    .container {
        h2 {
            text-align: center;
        }
    }
}

.iconContainer {
    div {
        font-weight: 600;
    }
}

.container {
    margin-top: 15px;
    color: #B1D0ED;

    @include gradient-drift(2s);
}


.description {
    line-height: 35px;
}

.innerRow {
    display: flex;
    align-items: flex-start;
}

.iconCol {
    display: flex;
    justify-content: center;
}

.iconWrap {
    text-align: center;
    margin-top: 16px;
}

.descCol {
    display: flex;
    align-items: center;
}

.toolsCol {
    color: #B1D0ED;
    display: flex;
    flex-direction: column;
        align-items: start;
}

.toolsIntro {
    text-align: left;
    margin-bottom: 12px;
    color: #CFE3FF;
}

.toolsGrid {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.toolsSection {
    min-width: 120px;
}

.roboto-800 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.toolsHeading {
    font-family: "Rubik";
    font-weight: 800;
    color: #B1D0ED;
    margin-bottom: 6px;
}

.toolsSection ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toolsSection li {
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 6px;
    color: #B1D0ED;
}

@media screen and (max-width: 575px) {
    .toolsGrid {
        flex-wrap: wrap;
        gap: 14px;
        justify-content: center;
    }

    .toolsSection {
        min-width: auto;
        width: 100%;
        max-width: 320px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 12px;
    }

    .toolsSection ul {
        padding-left: 0;
        margin: 0 auto;
        display: inline-block;
    }

    .toolsSection li {
        text-align: center;
    }

    .toolsIntro {
        text-align: center;
    }
}

/* Stronger centering for small mobile to override other rules */
@media screen and (max-width: 575px) {
    .toolsCol {
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }

    .toolsGrid {
        width: 100%;
        justify-content: center !important;
    }

    .toolsSection ul {
        padding-left: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center !important;
    }
}

.container {
    background-color: #12173F;
    min-height: 350px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-top: -25px;
       padding-bottom:30px;
               padding-top: 70px;


    p,
    h2,
    ul {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 1023px) {
    .innerRow {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .iconWrap {
        margin-top: 28px;
    }

    .descCol {
        text-align: center;
        justify-content: center;
        margin-top: 8px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .toolsCol {
        margin-top: 12px;
   
    }

    .toolsIntro {
        text-align: center;
    }
}

.languageContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        list-style: none;
        padding-left: 0px;
    }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .toolsCol {
        align-items: center;
    }


}
