%padding-fontweight{
    padding-top:20px;
    font-weight: 600;
}


.footerContainer { 
    margin-top: 0;


    svg {
        height: 50px;
        width: 40px;
     }

     h2 {
         text-align: center;
        @extend %padding-fontweight
    }
}



.attributionsContainer {
    display: flex;
    justify-content: center;
}

.aboutContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        @extend %padding-fontweight
    }
}