.navbtnContainer {
    display: flex;
    align-items: center;
  
    justify-content: end;
}

.homeButton {
    font-family: 'Audiowide', cursive;
    color: #12173F;
    text-decoration: none;
    font-size: 28px;
    margin-left: 20px;
}

.projectsButton {
    color: #12173F;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
}

.projectsButtonContainer {
    width: 40%;
    display: flex;
    justify-content: end;
    margin-right: 20px;
    gap: 10px;
}

.homeButtonContainer {
    display: flex;
    align-items: center;
    
}

.headerRow {
        min-height: 75px;
}

@media screen and (max-width: 425px) {
    .homeButton {
        font-size: 20px;
    }
    .projectsButtonContainer {
        flex-direction: column;
        
    }
.navbtnContainer {
    justify-content: start;
}

.homeButtonContainer {
    justify-content: center;
}

}

