.heroContainer {
    height: 420px;
    background: #12173F;
    color: #B1D0ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    h1 {
        font-size: 28px;
    }

    ul {
        padding: 0px !important;
        font-style: italic;
        font-size: 28px;
    }

    /** animation */
    @import "../styles/mixins";
    @include gradient-drift(2s);
}

.orb {

  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 1;
  animation: float 5s ease-in-out infinite;
}

.orb1 {
  background: #3b82f6;
  top: -100px;
  left: -100px;
}

.orb2 {
  background: #38bdf8;
  bottom: -100px;
  right: -100px;
  animation-delay: -15s;
}



@media screen and (min-width: 1024px) {
    .heroContainer {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 15px;
        height: 375px;
        padding-top: 0px;

        .headerH2 {
            display: none;

        }

        .introHeader {
            text-align: left;
            margin-bottom: 0px;
        }
    }
}

.introHeader {
    text-align: center;
    padding-top: 10px;
    color: #B1D0ED;
    font-size: 28px;
    font-weight: 600;
}

.heroList {
    list-style: none;
}

/* Immediate fade-in utility */
.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 575px) {
    .heroContainer {
        padding-top: 24px;
        align-items: center;
    }

    .introHeader {
        text-align: center;
        font-size: 24px;
        padding-top: 8px;
        margin-bottom: 12px;
    }

    .heroList {

        padding-left: 0;
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.iconContainer {
    margin-top: 52px;
}

.headerH2 {
    color: #B1D0ED;
    font-size: 28px;
    font-weight: 600;
}