.orb {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 1;
  animation: float 5s ease-in-out infinite;
}

.orb1 {
  background: #38bdf8;
  top: -100px;
  left: -100px;
}

.orb2 {
  background: #38bdf8;
  bottom: -100px;
  right: -100px;
  animation-delay: -15s;
}

@keyframes float {
  0% { transform: translateY(0px) translateX(0px); }
  50% { transform: translateY(18px) translateX(8px); }
  100% { transform: translateY(0px) translateX(0px); }
}
