.photographContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    background: white;
    margin-top: 15px;

    h2 {
        font-weight: 600;
        color: #12173F;
        
    }
}

@media screen and (min-width: 1024px) {
    .photographContainer h2 {
        font-size: 20px;
        text-align: center;
    }
}

.imageContainer, .photographContainer {
    border: 2px solid #12173F;

}

.imageContainer {
    width: 90%;
}

.headerContainer {
    height: 60px;
    display: flex;
    align-items: center;

    a {
        text-decoration: none;
    }
}

