.btnContainer {
    display: flex;
    justify-content: center;
}

// .projectContainer {
//     display: flex;
//     align-items: center;

//     img {
//         display: none !important;
//     }
// }
//  {/* <Card cardData={props.cardData} bgColor="#3E518C" border={borderColor}>  */}
//         <div className={styles.cardContent}>

.cardContent {
    background-color: #3E518C;
    border: 3px solid #7A8DC7;
    padding: 30px 50px;
    border-radius: 10px;
}

.projectRow {
    margin-top: -60px;
    position: relative;
    z-index: 3;
}

@media screen and (min-width: 1024px) {
    .projectContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            display: none !important;
        }
    }
}



.itemsHeader {
    text-align: center;
    color: #B1D0ED;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 800;
}

.itemsWrapper {
    color: #B1D0ED;
}

.itemsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
    justify-items: center;
    align-items: start;
}

.itemBox {
    width: 208px;
    height: 158px;
    max-width: 100%;

    padding: 22px;
    background: #0F1730;
    color: #B1D0ED;
    box-sizing: border-box;
    border: 3px solid #7A8DC7;
}

.itemCompany {
    text-align: center;
    font-weight: 700;
}

.itemTitle {
    text-align: center;
    margin-top: 10px;
}

.itemYears {
    text-align: center;
    margin-top: 8px;
    opacity: 0.9;
}

/* Place the 3rd item under the first column (to match design) */
.itemsGrid>.itemBox:nth-child(3) {
    grid-column: 1;
}

@media screen and (max-width: 1023px) {
    .itemsGrid {
        grid-template-columns: 1fr;
    }

    .itemsGrid>.itemBox:nth-child(3) {
        grid-column: auto;
    }
}

@media screen and (max-width: 425px) {
    .cardContent {
           margin-top: 30px;
    }

    .itemBox {
        width: 100%;
        height: 100%;
    }
}