body {
    background: #B1D0ED !important;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

.projectCard {
    margin-top: -60px;
}

.developerCard {
    margin-top: 15px;
    color: #B1D0ED;
}